body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232323;
    color: antiquewhite;
}

div.mittig {
    position: absolute;
    left: 50%;
    margin-left: -23px;
    width: 46px;
    top: 50%;
    margin-top: -23px;
    height: 46px;
    text-align: center;
}

.box {
    width: 200px;
    height: 200px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
}

.semi {
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 20px;
    background: antiquewhite;
    color: black;
}
.loading {
    width: 200px;

}
.login {
    height: 100%;
}